.reservation-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rrf{
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.blab{
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.ipt,select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.idate{
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.iche{
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.form-check {
    display: flex;
    align-items: center;
}

.error {
    color: red;
    font-size: 12px;
}

.submit-button {
    padding: 10px;
    background-color: #2196f3;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:#2086da;
}

@media (max-width: 500px) {
    .reservation-container {
        width: 90%;
    }
}
